.Root {
	position: relative;
	border-top: 1px solid #e6e6e6;
	height: 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;

	font-size: 14px;
	color: #777;
}

.Root::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2),
		0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
	z-index: 0;
}

.filters {
	margin: 0 20px;
	display: flex;
	justify-content: space-around;
	gap: 20px;

	cursor: pointer;

	z-index: 1;
}

@media screen and (max-width: 680px) {
	.count {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.filters {
		gap: 0;
	}
}
