.Root {
	max-width: 680px;
	min-width: 680px;
	transition: all 0.5s ease;
	height: auto;
}

.editing {
	border-top: 1px solid #e6e6e6;
	padding: 0;
}

.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}

.hide {
	/* добавил ещё высоту 0, т.к. пустое место оставалось*/
	opacity: 0;
	pointer-events: none;
	transform: translateX(-400px);
	height: 0;
}

.editing .item {
	display: none;
}

.item {
	border-top: 1px solid #e6e6e6;
	position: relative;
}

@media (max-width: 720px) {
	.Root {
		min-width: 480px;
	}
}

@media (max-width: 510px) {
	.Root {
		min-width: 290px;
	}
}
