.Root {
	width: 506px;
	padding: 12px 16px;
	margin: 0 0 0 43px;
	border: 1px solid black;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);

	outline: none;
	display: block;

}